@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-first: #006e61;
    --color-second: #00c0b5;
    --color-third: #0d809d;
    --color-fourth: #82c0e5;
    --color-fifth: #dc3545;
    --color-sixth: #f3d25d;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Apply scrollbar styles only to main content */
main::-webkit-scrollbar {
    width: 8px;
}

main::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
    background: var(--color-second);
    border-radius: 10px;
    transition: all 0.3s ease;
}

main::-webkit-scrollbar-thumb:hover {
    background: var(--color-first);
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Remove body scrollbar */
body {
    margin: 0;
    overflow: hidden;
}